.user-type-btn {
    border: 1px solid var(--border-color);
    background-color: transparent;
    color: var(--text-color);
    transition: all 0.3s;
}

.user-type-btn:hover {
    background-color: var(--accent-color-2);
    color: var(--white);
}

.user-type-btn.active {
    background-color: var(--accent-color-1);
    color: var(--white);
}

.person-item {
    background-color: var(--primary-bg);
    border: 1px solid transparent;
    padding: 12px 16px;
    border-radius: 10px;
    transition: all 0.3s;
    cursor: pointer;
    margin-bottom: 10px;
}

.person-item.active {
    border-color: var(--accent-color-1);
    background-color: var(--accent-color-2);
}

.person-item .fw-bold {
    color: var(--text-color);
}

.absence-number {
    color: #ffc107; 
}

/* card */
.card {
    background-color: var(--secondary-bg);
    color: var(--text-color);
    border-radius: 12px;
    border: 1px solid var(--border-color);
}

.card-header h5,
.card-header .fw-bold {
    color: var(--text-color);
}

/* detail */
.detail-section {
    padding: 10px;
}

.detail-section h6 {
    color: var(--accent-color-1);
    font-weight: 600;
    margin-top: 15px;
}

.list-group-item {
    background-color: var(--primary-bg);
    border: 1px solid var(--border-color);
    color: var(--text-color);
}
